<!-- BEGIN: Content-->
<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <section class="row flexbox-container">
        <div class="col-xl-7 col-md-8 col-12">
          <div class="card bg-transparent shadow-none">
            <div class="card-content">
              <div class="card-body text-center bg-transparent miscellaneous">
                <h1 class="error-title my-1">
                  <span class="spinner-grow spinner-grow-lg"></span> Verifying Email 
                </h1>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!-- END: Content-->