<div class="content-wrapper">
  <div class="content-header row">
    <div class="content-header-left col-12 mb-2 mt-1">
      <shared-breadcrumb></shared-breadcrumb>
    </div>
  </div>
  
  <div class="content-body">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link"
          [class.active]="activeTab === 'general'"
          id="general-tab" data-toggle="pill" href="#general"
          aria-expanded="true">
          General
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          [class.active]="activeTab === 'merchants'"
          id="merchants-tab" data-toggle="pill" href="#merchants" 
          aria-expanded="false">
          Merchants
        </a>
      </li>
    </ul>

    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <shared-alert></shared-alert>
          <div class="tab-content">
            <div class="tab-pane" [class.active]="activeTab === 'general'" id="general" role="tabpanel" aria-labelledby="general-tab">
              <vouchers-edit-general-tab *ngIf="voucher; else loading" [voucher]="voucher"></vouchers-edit-general-tab>
            </div>
            <div class="tab-pane" [class.active]="activeTab === 'merchants'" id="merchants" role="tabpanel" aria-labelledby="merchants-tab">
              <vouchers-edit-merchants-tab *ngIf="voucher" [voucher]="voucher"></vouchers-edit-merchants-tab>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <span class="spinner-border spinner-border-sm"></span> Loading...
</ng-template>