<div class="modal-header">
  <h3 class="modal-title">Transaction Details</h3>
  <button type="button" class="close rounded-pill" aria-label="close"
    (click)="close()"><i class="bx bx-x"></i></button>
</div>
<div class="modal-body">
  <fieldset [disabled]="true">
    <div class="row">
      <!-- type -->
      <div class="col-6 form-group">
        <label class="text-bold-600">Type</label>
        <input type="text" class="form-control" [value]="transaction.type" />
      </div>

      <!-- credit -->
      <div class="col-6 form-group">
        <label class="text-bold-600">Credit</label>
        <input type="text" class="form-control" [value]="transaction.credit" />
      </div>
    </div>

    <div class="row">
      <div class="col-12 form-group">
        <label class="text-bold-600">Remark</label>
        <textarea class="form-control" rows="3" [value]="transaction.remark"></textarea>
      </div>
    </div>
  </fieldset>
</div>