<form autocomplete="off" #form="ngForm">
  <fieldset [disabled]="isLoading || !('update' | ablePure: 'systemsettings' | async)">

  <!-- contacts -->
  <div class="row">
    <!-- email -->
    <div class="col-md-6 form-group" [class.error]="(submitted || email.dirty) && email.errors">
      <label class="text-bold-600" for="email">Email</label>
      <input type="text" class="form-control"
        #email="ngModel"
        [(ngModel)]="systemSettingVm.email"
        id="email" name="email" />
    </div>
    <!-- phone -->
    <div class="col-md-6 form-group" [class.error]="(submitted || phone.dirty) && phone.errors">
      <label class="text-bold-600" for="phone">Phone</label>
      <input type="text" class="form-control"
        #phone="ngModel"
        [(ngModel)]="systemSettingVm.phone"
        id="phone" name="phone" />
    </div>
  </div>

  <!-- address -->
  <div class="row">
    <div class="col-md-12 form-group" [class.error]="(submitted || address.dirty) && address.errors">
      <label class="text-bold-600" for="address">Address</label>
      <textarea class="form-control"
        #address="ngModel"
        [(ngModel)]="systemSettingVm.address"
        id="address" name="address"
        rows="4"></textarea>
    </div>
  </div>

  <!-- about us -->
  <div class="row">
    <div class="col-md-12 form-group" [class.error]="(submitted || aboutUs.dirty) && aboutUs.errors">
      <label class="text-bold-600" for="aboutUs">About Us</label>
      <shared-rich-text-editor 
        #aboutUs="ngModel"
        [(ngModel)]="systemSettingVm.about_us"
        name="aboutUs" name="aboutUs"></shared-rich-text-editor>
    </div>
  </div>

  <!-- privacy policy -->
  <div class="row">
    <div class="col-md-12 form-group" [class.error]="(submitted || privacyPolicy.dirty) && privacyPolicy.errors">
      <label class="text-bold-600" for="privacyPolicy">Privacy Policy</label>
      <shared-rich-text-editor 
        #privacyPolicy="ngModel"
        [(ngModel)]="systemSettingVm.privacy_policy"
        name="privacyPolicy" name="privacyPolicy"></shared-rich-text-editor>
    </div>
  </div>

  <!-- terms and conditions -->
  <div class="row">
    <div class="col-md-12 form-group" [class.error]="(submitted || tnc.dirty) && tnc.errors">
      <label class="text-bold-600" for="tnc">Terms and Conditions</label>
      <shared-rich-text-editor 
        #tnc="ngModel"
        [(ngModel)]="systemSettingVm.terms_and_conditions"
        name="tnc" name="tnc"></shared-rich-text-editor>
    </div>
  </div>

  

  </fieldset>
</form>
