<div class="content-wrapper">
  <div class="content-header row">
    <div class="content-header-left col-12 mb-2 mt-1">
      <shared-breadcrumb></shared-breadcrumb>
    </div>
  </div>
  
  <div class="content-body">
    <shared-authorized-content 
      [permissions]="['users.view', 'users.update']" 
      [condition]="'or'">
      <ng-container *ngIf="user">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" id="general-tab" data-toggle="pill" href="#general"
              aria-expanded="true" (click)="onTabClick(UserEditTab.General)">General</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="vouchers-tab" data-toggle="pill" href="#vouchers"
              aria-expanded="true" (click)="onTabClick(UserEditTab.Vouchers)">Vouchers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="vouchers-transactions-tab" data-toggle="pill" href="#vouchertransactions"
              aria-expanded="true" (click)="onTabClick(UserEditTab.VoucherTransactions)">Voucher Transactions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="points-tab" data-toggle="pill" href="#points"
              aria-expanded="true" (click)="onTabClick(UserEditTab.Points)">Points</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="receipts-tab" data-toggle="pill" href="#receipts"
              aria-expanded="true" (click)="onTabClick(UserEditTab.Receipts)">Receipts</a>
          </li>
        </ul>
    
        <div class="tab-content">
          <!-- general -->
          <div role="tabpanel" class="tab-pane active" id="general" aria-labelledby="general-tab" aria-expanded="true">
            <users-edit-general-tab [user]="user"></users-edit-general-tab>
          </div>
          <!-- vouchers -->
          <div role="tabpanel" class="tab-pane active" id="vouchers" aria-labelledby="vouchers-tab" aria-expanded="true">
            <users-edit-vouchers-tab *ngIf="isVouchersTabLoaded" [user]="user"></users-edit-vouchers-tab>
          </div>
          <!-- voucher transactions -->
          <div role="tabpanel" class="tab-pane" id="vouchertransactions" aria-labelledby="vouchertransactions-tab" aria-expanded="true">
            <users-edit-voucher-transactions-tab *ngIf="isVoucherTransactionsTabLoaded" [user]="user"></users-edit-voucher-transactions-tab>
          </div>
          <!-- points -->
          <div role="tabpanel" class="tab-pane" id="points" aria-labelledby="points-tab" aria-expanded="true">
            <users-edit-points-tab *ngIf="isPointsTabLoaded" [user]="user"></users-edit-points-tab>
          </div>
          <!-- receipt -->
          <div role="tabpanel" class="tab-pane" id="receipts" aria-labelledby="receipts-tab" aria-expanded="true">
            <users-edit-receipts-tab *ngIf="isReceiptsTabLoaded" [user]="user"></users-edit-receipts-tab>
          </div>
        </div>
      </ng-container>
    </shared-authorized-content>
  </div>
</div>