<ag-grid-angular #agGrid style="width: 100%;" domLayout='autoHeight' class="ag-theme-balham"
  (gridReady)="onGridReady($event)" 
  [gridOptions]="gridOptions" 
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef">
</ag-grid-angular>

<ng-template #imageCell let-row>
  <ng-container *ngIf="row && row.image">
    <img [src]="row.image.path" style="width:100%" />
  </ng-container>
</ng-template>

<ng-template #actionsCell let-row>
  <ng-container *ngIf="row">
    <a class="btn btn-xs btn-icon btn-primary btn-action-icon" 
      (click)="navigateTo('/admin/banners', row.id)">
      <i class="bx bxs-edit"></i>
    </a>
    <a *ngIf="'delete' | ablePure: 'banners' | async"
      class="btn btn-xs btn-icon btn-danger btn-action-icon" 
      (click)="delete(row.id)">
      <i class="bx bxs-trash"></i>
    </a>
  </ng-container>
</ng-template>

<ng-template #statusCell let-row>
  <ng-container *ngIf="row" [ngSwitch]="row.status">
    <span *ngSwitchCase="'inactive'" class="badge badge-xs badge-light-danger">{{ row.status | titlecase }}</span>
    <span *ngSwitchCase="'active'" class="badge badge-xs badge-light-success">{{ row.status | titlecase }}</span>
  </ng-container>
</ng-template>