<div class="custom-file">
  <input type="file" class="custom-file-input"
    #fileinput 
    [multiple]="multiple"
    (change)="handleChange($event)"
    [accept]="fileTypes" />
  <label #customFileInput class="custom-file-label">{{ fileName }}</label>
</div>
<div *ngIf="uploadFiles || files" class="file-list small">
  <ul>
    <!-- upload files -->
    <ng-container *ngIf="uploadFiles && uploadFiles.length > 0">
      <li *ngFor="let file of uploadFiles; let i = index; trackBy: trackByFn">
        <i class="bx bx-x text-danger" (click)="removeUploadFile(i)"></i>
        <a href="javascript:void(0)" (click)="viewFile(i)">{{ file.name }}</a>
      </li>
    </ng-container>
    <!-- files  -->
    <ng-container *ngIf="files && files.length > 0">
      <li *ngFor="let file of files; let i = index; trackBy: trackByFn">
        <i class="bx bx-x text-danger" (click)="removeFile(i)"></i>
        <a href="{{ file.path }}" target="_blank">{{ file.name }}</a>
      </li>
    </ng-container>
  </ul>
</div>