<!-- BEGIN: Content-->
<div class="content-wrapper">
  <div class="content-header row">
    <div class="content-header-left col-12 mb-2 mt-1">
      <shared-breadcrumb></shared-breadcrumb>
    </div>
  </div>

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link"
        [class.active]="activeTab === 'user'"
        id="general-tab" data-toggle="pill" href="#user"
        aria-expanded="true"
        (click)="onTabClick(BannerListTab.Users)">User</a>
    </li>

    <li class="nav-item">
      <a class="nav-link"
        [class.active]="activeTab === 'merchant'"
        id="auth-tab" data-toggle="pill" href="#merchant"
        aria-expanded="true"
        (click)="onTabClick(BannerListTab.Merchants)">Merchant</a>
    </li>
  </ul>

  <div class="content-body">
    <div class="card">
      <div class="tab-content">
        <div class="tab-pane" 
          [class.active]="activeTab === 'user'"
          id="user" role="tabpanel" aria-labelledby="user-tab" aria-expanded="false">
          <div class="card-header text-right">
            <shared-authorized-content [permissions]="['banners.create']" [type]="'hide'">
              <a class="btn btn-primary" 
                [routerLink]="['/admin/banners/create/users']">Create User Banner
              </a>
            </shared-authorized-content>
          </div>
          <div class="card-content">
            <div class="card-body">
              <banners-table *ngIf="isUsersTabLoaded" 
                [app]="'user'"></banners-table>
            </div>
          </div>
        </div>
  
        <div class="tab-pane"
          [class.active]="activeTab === 'merchant'" 
          id="merchant" role="tabpanel" aria-labelledby="merchant-tab" aria-expanded="false">
          <div class="card-header text-right">
            <shared-authorized-content [permissions]="['banners.create']" [type]="'hide'">
              <a class="btn btn-primary" 
                [routerLink]="['/admin/banners/create/merchants']">Create Merchant Banner
              </a>
            </shared-authorized-content>
          </div>
          <div class="card-content">
            <div class="card-body">
              <banners-table *ngIf="isMerchantsTabLoaded" 
                [app]="'merchant'"></banners-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
