
<shared-alert></shared-alert>

<form autocomplete="off" #form="ngForm" (submit)="onSubmit()">
  <fieldset [disabled]="isLoading">
    <div class="row">
      <!-- name -->
      <div class="col-md-6 form-group" [class.error]="(submitted || name.dirty) && name.errors">
        <label class="text-bold-600" for="name">Name</label>
        <input type="text" class="form-control" 
          #name="ngModel" 
          [(ngModel)]="merchantVm.name"
          id="name" name="name" placeholder="Name"
          required />
        <div *ngIf="submitted || name.dirty" class="help-block">
          <ul role="alert">
            <li *ngIf="name.errors?.required" class="text-danger" role="alert">Name is required.</li>
          </ul>
        </div>
      </div>

      <!-- status -->
      <div class="col-md-6 form-group" [class.error]="(submitted || status.dirty) && status.errors">
        <label class="text-bold-600" for="status">Status</label>
        <select class="form-control"
          #status="ngModel"
          [(ngModel)]="merchantVm.status"
          id="status" name="status"
          required>
          <option value="active" selected>Active</option>
          <option value="inactive">Inactive</option>
        </select>
        <div *ngIf="submitted || status.dirty" class="help-block" >
          <ul role="alert">
            <li *ngIf="status.errors?.required" class="text-danger" role="alert">Status is required.</li>
          </ul>
        </div>
      </div>

      <!-- logo -->
      <div class="col-md-6 form-group" [class.error]="(submitted || logo.dirty) && logo.errors">
        <label class="text-bold-600" for="logo">Logo</label>
        <shared-fileinput
          #logo="ngModel"
          [(ngModel)]="merchantVm.uploadLogo"
          [multiple]="false"
          [fileTypes]="['.png', '.jpg', '.jpeg', '.gif']"
          [files]="merchantVm.logo"
          name="logo" id="logo"></shared-fileinput>
        <!-- <div *ngIf="submitted || logo.dirty" class="help-block" >
          <ul role="alert">
            <li *ngIf="logo.errors?.required" class="text-danger" role="alert">Logo is required.</li>
          </ul>
        </div> -->
      </div>

      <!-- category -->
      <div class="col-md-6 form-group" [class.error]="(submitted || category.dirty) && category.errors">
        <label class="text-bold-600" for="category">Category</label>
        <ng-select 
          #category="ngModel"
          [(ngModel)]="merchantVm.merchant_category_id" 
          [items]="merchantCategories$ | async"
          [multiple]="false"
          [trackByFn]="trackByFn"
          [loading]="merchantCategoriesReqLoading"
          [typeahead]="merchantCategoriesInput$"
          bindLabel="name" bindValue="id"
          id="category" name="category"></ng-select>
        <div *ngIf="submitted || category.dirty" class="help-block" >
          <ul role="alert">
            <li *ngIf="category.errors?.required" class="text-danger" role="alert">Category is required.</li>
          </ul>
        </div>
      </div>

      <!-- location -->
      <div class="col-md-6 form-group">
        <div class="row">
          <div class="col-md-6 form-group" [class.error]="(submitted || floor.dirty) && floor.errors">
            <label class="text-bold-600" for="location">Floor</label>
            <select class="form-control" 
              #floor="ngModel"
              [(ngModel)]="merchantVm.floor"
              id="floor" name="floor" required>
              <option></option>
              <option value="LG">LG</option>
              <option value="GF">GF</option>
              <option value="1F">1F</option>
              <option value="2F">2F</option>
              <option value="3F">3F</option>
              <option value="4F">4F</option>
            </select>
            <div *ngIf="submitted || floor.dirty" class="help-block" >
              <ul role="alert">
                <li *ngIf="floor.errors?.required" class="text-danger" role="alert">Floor is required.</li>
              </ul>
            </div>
          </div>

          <div class="col-md-6 form-group" [class.error]="(submitted || unit.dirty) && unit.errors">
            <label class="text-bold-600" for="unit">Unit</label>
            <input type="text" class="form-control"
              #unit="ngModel"
              [(ngModel)]="merchantVm.unit"
              id="unit" name="unit"
              required />
            <div *ngIf="submitted || unit.dirty" class="help-block" >
              <ul role="alert">
                <li *ngIf="unit.errors?.required" class="text-danger" role="alert">Unit is required.</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- <label class="text-bold-600" for="location">Location</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="bx bx-map-pin"></i></span>
          </div>
          <input type="text" class="form-control" 
            #location="ngModel" 
            [(ngModel)]="merchantVm.location"
            id="location" name="location" placeholder="Location"
            required />
        </div>
        <div *ngIf="submitted || location.dirty" class="help-block" >
          <ul role="alert">
            <li *ngIf="location.errors?.required" class="text-danger" role="alert">Location is required.</li>
          </ul>
        </div> -->
      </div>

      <!-- business registration no -->
      <div class="col-md-6 form-group" [class.error]="(submitted || businessRegNo.dirty) && businessRegNo.errors">
        <label class="text-bold-600" for="businessRegNo">Business Registration No.</label>
        <input type="text" class="form-control" 
          #businessRegNo="ngModel" 
          [(ngModel)]="merchantVm.business_reg_no"
          id="businessRegNo" name="businessRegNo" placeholder="Business Registration No." />
          
        <div *ngIf="submitted || businessRegNo.dirty" class="help-block" >
          <ul role="alert">
            <li *ngIf="businessRegNo.errors?.required" class="text-danger" role="alert">Business Registration No. is required.</li>
          </ul>
        </div>
      </div>

      <!-- website -->
      <div class="col-md-6 form-group" [class.error]="(submitted || website.dirty) && website.errors">
        <label class="text-bold-600" for="website">Website</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="bx bx-globe"></i></span>
          </div>
          <input type="text" class="form-control" 
            #website="ngModel" 
            [(ngModel)]="merchantVm.website"
            id="website" name="website" placeholder="Website" />
        </div>
        <!-- <div *ngIf="submitted || businessRegNo.dirty" class="help-block" >
          <ul role="alert">
            <li *ngIf="businessRegNo.errors?.required" class="text-danger" role="alert">Location is required.</li>
          </ul>
        </div> -->
      </div>
      
      <!-- email -->
      <div class="col-md-6 form-group" [class.error]="(submitted || email.dirty) && email.errors">
        <label class="text-bold-600" for="email">Email</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">@</span>
          </div>
          <input type="text" class="form-control" 
            #email="ngModel" 
            [(ngModel)]="merchantVm.email"
            id="email" name="email" placeholder="Email" />
        </div>
        <!-- <div *ngIf="submitted || email.dirty" class="help-block" >
          <ul role="alert">
            <li *ngIf="email.errors?.required" class="text-danger" role="alert">Email is required.</li>
          </ul>
        </div> -->
      </div>

      <!-- phone no -->
      <div class="col-md-6 form-group" [class.error]="(submitted || phone.dirty) && phone.errors">
        <label class="text-bold-600" for="phone">Phone No.</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="bx bx-phone"></i></span>
          </div>
          <input type="text" class="form-control" 
            #phone="ngModel" 
            [(ngModel)]="merchantVm.phone"
            id="phone" name="phone" placeholder="Phone No." />
        </div>
        <!-- <div *ngIf="submitted || phone.dirty" class="help-block" >
          <ul role="alert">
            <li *ngIf="phone.errors?.required" class="text-danger" role="alert">Phone No. is required.</li>
          </ul>
        </div> -->
      </div>

      <!-- description -->
      <div class="col-md-12 form-group" [class.error]="(submitted || description.dirty) && description.errors">
        <label class="text-bold-600">Desription</label>
        <ckeditor 
          #description="ngModel"
          [editor]="Editor" 
          [(ngModel)]="merchantVm.description"
          name="description" name="description"
          required></ckeditor>

        <div class="help-block" *ngIf="submitted || description.dirty">
          <ul role="alert">
            <li *ngIf="description.errors?.required" class="text-danger" role="alert">Description is required.</li>
          </ul>
        </div>
      </div>

      <!-- terms and conditions -->
      <div class="col-md-12 form-group" [class.error]="(submitted || terms.dirty) && terms.errors">
        <label class="text-bold-600">Terms and Conditions</label>
        <ckeditor 
          #terms="ngModel"
          [editor]="Editor" 
          [(ngModel)]="merchantVm.terms_and_conditions"
          name="terms" name="terms"></ckeditor>

        <div class="help-block" *ngIf="submitted || terms.dirty">
          <ul role="alert">
            <li *ngIf="terms.errors?.required" class="text-danger" role="alert">Terms and Conditions is required.</li>
          </ul>
        </div>
      </div>

      <!-- privacy policy -->
      <div class="col-md-12 form-group" [class.error]="(submitted || privacyPolicy.dirty) && privacyPolicy.errors">
        <label class="text-bold-600">Privacy Policy</label>
        <ckeditor 
          #privacyPolicy="ngModel"
          [editor]="Editor" 
          [(ngModel)]="merchantVm.privacy_policy"
          name="privacyPolicy" name="privacyPolicy"></ckeditor>

        <div class="help-block" *ngIf="submitted || privacyPolicy.dirty">
          <ul role="alert">
            <li *ngIf="privacyPolicy.errors?.required" class="text-danger" role="alert">Privacy Policy is required.</li>
          </ul>
        </div>
      </div>

    </div>

    <!-- form actions -->
    <div class="form-actions d-flex justify-content-end mt-2">
      <button type="submit" class="btn btn-primary pull-right"
        [disabled]="isLoading">
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span> Edit
      </button>
    </div>
  </fieldset>
</form>


        