<div class="input-group">
  <div class="position-relative has-icon-right">
    <input class="form-control date-control" 
      angular-mydatepicker 
      #dp="angular-mydatepicker" 
      [(ngModel)]="model" 
      [options]="myDpOptions" 
      [attr.disabled]="disabled ? '' : null"
      [readonly]="!disabled"
      (dateChanged)="onDateChanged($event)"
      placeholder="Select a date" />

    <div *ngIf="model?.singleDate?.jsDate && !disabled" class="form-control-position">
      <i class="bx bx-x text-danger" (click)="dp.clearDate()"></i>
    </div>
  </div>
  
  <div class="input-group-append"
    [class.disabled]="disabled">
    <button class="input-group-text btn-calendar-alt" 
      [disabled]="disabled"
      (click)="dp.toggleCalendar()">
      <i class="bx bx-calendar-alt"></i>
    </button>
  </div>
</div>