<!-- BEGIN: Content-->
<div class="content-wrapper">
  <div class="content-header row">
    <div class="content-header-left col-12 mb-2 mt-1">
      <shared-breadcrumb></shared-breadcrumb>
    </div>
  </div>

  <div class="content-body">
    <div *ngIf="landing" class="row">
      <!-- banners -->
      <div class="col-12">
        <h5>Banners</h5>
        <div class="text-right">
          <button class="btn btn-primary">Add Banner</button>
        </div>
        
        <div cdkDropList cdkDropListOrientation="horizontal"
          class="horizontal-scrollable">
          <div *ngFor="let banner of landing.banners" 
            cdkDrag class="card banner-card">
            <div class="card-content">
              <img class="card-img-top img-fluid" [src]="banner.path" />
            </div>
          </div>
        </div>
        
      </div>

      <!-- events -->
      <div class="col-12">
        <h5>Events</h5>
        <div class="text-right">
          <button class="btn btn-primary">Add Events</button>
        </div>
        
        <div cdkDropList cdkDropListOrientation="horizontal"
          class="horizontal-scrollable">
          <div *ngFor="let event of landing.events" 
            cdkDrag class="card event-card">
            <div class="card-content">
              <img class="card-img-top img-fluid" [src]="event.thumbnail.path" />
              <div class="card-body">
                <div class="card-title mb-0">{{ event.title }}</div>
                <small class="text-muted">{{ event.fromDate }} - {{ event.toDate }}</small>
                <div class="card-text mt-2">{{ event.caption }}</div>
              </div>
            </div>
          </div>
        </div>
        
      </div>

      <!-- promotions -->
      <div class="col-12">
        <h5>Promotions</h5>
        <div class="text-right">
          <button class="btn btn-primary">Add Promotions</button>
        </div>
        
        <div cdkDropList cdkDropListOrientation="horizontal"
          class="horizontal-scrollable">
          <div *ngFor="let promotion of landing.promotions" 
            cdkDrag class="card promotion-card">
            <div class="card-content">
              <img class="card-img-top img-fluid" [src]="promotion.thumbnail.path" />
              <div class="card-body">
                <div class="card-title mb-0">{{ promotion.title }}</div>
                <small class="text-muted">{{ promotion.fromDate }} - {{ promotion.toDate }}</small>
                <div class="card-text mt-2">{{ promotion.caption }}</div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
