.card { -webkit-transition: none; transition: none; }

.banner-card,
.event-card,
.promotion-card {
  flex-basis: 400px;
}

.card-content .card-img-top {
  height: 256px;
}

.horizontal-scrollable {
  margin-top: 10px;
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
}

.horizontal-scrollable > .card {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  /* flex-basis: 0; */
  justify-content: space-between;
  
  margin-right: 20px;
}

.card-content {
  width: 100%;
}

.card-title {
  text-transform: none;
}

.card-text {
  white-space: pre-wrap;
}

.card-img-top {
  border-radius: 0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.horizontal-scrollable.cdk-drop-list-dragging .card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.card-content {
  position: relative;
}

.card-content:hover .btn-trash {
  display: block;
}

.card-content .btn-trash {
  position: absolute;
  right: 2px;
  top: 2px;
  padding: 0;
  display: none;
  cursor: point;
}