<div class="content-wrapper">
  <div class="content-header row">
    <div class="content-header-left col-12 mb-2 mt-1">
      <shared-breadcrumb></shared-breadcrumb>
    </div>
  </div>

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active"
        id="users-tab" data-toggle="pill" href="#users" 
        aria-expanded="false">
        Users
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
        id="general-tab" data-toggle="pill" href="#general"
        aria-expanded="true">
        General
      </a>
    </li>
  </ul>

  <div class="content-body">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="alert mb-1 alert-info" role="alert">
            <span class="alert-message">Updates will only take effect after user logs in again.</span>
          </div>
          <ng-container *ngIf="userGroupVm; else loading">
            <div class="tab-content">
              <div class="tab-pane active" id="users" role="tabpanel" aria-labelledby="users-tab" aria-expanded="false">
                <usergroups-edit-users-tab
                  [userGroupVm]="userGroupVm"
                  [submitted]="submitted"
                  [isLoading]="isLoading"></usergroups-edit-users-tab>
              </div>

              <div role="tabpanel" class="tab-pane" id="general" aria-labelledby="general-tab" aria-expanded="true">
                <usergroups-edit-general-tab 
                  [userGroupVm]="userGroupVm"
                  [submitted]="submitted"
                  [isLoading]="isLoading"></usergroups-edit-general-tab>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  
</div>

<ng-template #loading>
  <span class="spinner-border spinner-border-sm"></span> Loading...
</ng-template>