<div class="content-wrapper">
  <div class="content-header row">
    <div class="content-header-left col-12 mb-2 mt-1">
      <shared-breadcrumb></shared-breadcrumb>
    </div>
  </div>

  <div class="content-body">
    <shared-authorized-content 
      [permissions]="['usergroups.view', 'usergroups.update']" 
      [condition]="'or'">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <shared-alert></shared-alert>
            <ng-container *ngIf="userGroupVm; else loading">
              <ul class="nav nav-pills">
                <li class="nav-item">
                  <a class="nav-link active" [class.bg-danger]="submitted && !generalTabValid"
                    id="general-tab" data-toggle="pill" href="#general"
                    aria-expanded="true">
                    General
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [class.bg-danger]="submitted && !usersTabValid"
                    id="users-tab" data-toggle="pill" href="#users" 
                    aria-expanded="false">
                    Users
                  </a>
                </li>
              </ul>
    
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="general" aria-labelledby="general-tab" aria-expanded="true">
                  <usergroups-edit-general-tab 
                    [userGroupVm]="userGroupVm"
                    [permissionModules$]="permissionModules$"
                    [submitted]="submitted"
                    [isLoading]="isLoading"
                    (formValid)="onFormStatusChange(UserGroupTab.General, $event)"></usergroups-edit-general-tab>
                </div>
                <div class="tab-pane" id="users" role="tabpanel" aria-labelledby="users-tab" aria-expanded="false">
                  <usergroups-edit-users-tab
                    [userGroupVm]="userGroupVm"
                    [submitted]="submitted"
                    [isLoading]="isLoading"
                    (formValid)="onFormStatusChange(UserGroupTab.Users, $event)"></usergroups-edit-users-tab>
                </div>
              </div>

              <div class="form-actions d-flex justify-content-end">
                <button type="submit" class="btn btn-primary pull-right" (click)="onSubmit()"
                  [disabled]="isLoading || !('update' | ablePure: 'usergroups' | async)">
                  <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span> Edit
                </button>
              </div>
              
            </ng-container>
          </div>
        </div>
      </div>
    </shared-authorized-content>
  </div>
  
</div>

<ng-template #loading>
  <span class="spinner-border spinner-border-sm"></span> Loading...
</ng-template>