<div class="row">
  <div class="col-md-3 user-profile-card">
    <div class="card">
      <div class="card-header mx-auto pt-3">
        <div class="avatar bg-rgba-primary p-50">
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span>

          <ng-container *ngIf="!isLoading">
            <img *ngIf="user.avatar != null"
              class="img-fluid" [src]="user.avatar" height="134" width="134">

            <img *ngIf="user.avatar == null" class="img-fluid" 
              src="assets/images/portrait/avatar-generic.png" height="134" width="134">
          </ng-container>
        </div>

        <!-- upload avatar -->
        <div *ngIf="('update' | ablePure: 'users' | async)" class="text-center">
          <button class="btn btn-sm btn-light-primary mt-1" 
            (click)="avatarUpload.click()">Upload new photo</button>
          <input #avatarUpload type="file" class="hidden" accept="image/*"
            [multiple]="false"
            (change)="uploadAvatar($event)" />
        </div>

      </div>
      <div *ngIf="user" class="card-content">
        <div class="card-body text-center">
          <h4 class="mb-0">{{ user.name }}</h4>
          <span class="small text-muted">{{ user.member_no }}</span>
          <p class="mt-1">
            <span [ngClass]="{
              'badge-light-success': user.status === 'active',
              'badge-light-warning': user.status === 'inactive' || user.status === 'unverified',
              'badge-light-danger': user.status === 'locked'
            }"
            class="badge badge-xs badge-light-success">{{ user.status | titlecase }}</span>
          </p>

          <h6 class="text-bold-500 font-small-3">User Groups</h6>
          <ng-container>
            <div *ngFor="let usergroup of user.usergroups" class="badge badge-default usergroup-badge">{{ usergroup.name }}</div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <shared-alert></shared-alert>
          <ng-container *ngIf="userVm">
            <form #form="ngForm" autocomplete="off" 
              (submit)="onSubmit()">
              <fieldset [disabled]="isLoading || !('update' | ablePure: 'users' | async)">
                
                <div class="row">
                  <!-- name -->
                  <div class="col-6 form-group" [class.error]="(submitted || name.dirty) && name.errors">
                    <label class="text-bold-600" for="name">Name</label>
                    <input type="text" class="form-control" 
                      #name="ngModel"
                      [(ngModel)]="userVm.name"
                      id="name" name="name" placeholder="Name"
                      required>
                    <div *ngIf="submitted || name.dirty" class="help-block" >
                      <ul role="alert">
                        <li *ngIf="name.errors?.required" class="text-danger" role="alert">Name is required.</li>
                      </ul>
                    </div>
                  </div>

                  <!-- gender -->
                  <div class="col-6 form-group" [class.error]="(submitted || gender.dirty) && gender.errors">
                    <label class="text-bold-600" for="name">Gender</label>
                    <select type="text" class="form-control" 
                      #gender="ngModel"
                      [(ngModel)]="userVm.gender"
                      id="gender" name="gender">
                      <option disabled></option>
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                    </select>
                    <div *ngIf="submitted || gender.dirty" class="help-block" >
                      <ul role="alert">
                        <li *ngIf="gender.errors?.required" class="text-danger" role="alert">Gender is required.</li>
                      </ul>
                    </div>
                  </div>
                </div>
                
                <div class="row">
                  <!-- member no -->
                  <div class="form-group col-6">
                    <label class="text-bold-600" for="email">Member No</label>
                    <input type="email" class="form-control" 
                      [value]="user.member_no"
                      [disabled]="true"
                      id="member_no" name="member_no" disabled>
                  </div>

                  <!-- date of birth -->
                  <div class="form-group col-6" [class.error]="(submitted || dob.dirty) && dob.errors">
                    <label class="text-bold-600" for="date_of_birth">Date of Birth</label>
                    <shared-datepicker
                      #dob="ngModel"
                      [(ngModel)]="userVm.date_of_birth"
                      name="date_of_birth" id="date_of_birth"></shared-datepicker>
                  </div>
                </div>
                
                
                <div class="row">
                  <!-- email -->
                  <div class="col-6 form-group">
                    <label class="text-bold-600" for="email">Email address</label>
                    <input type="email" class="form-control" 
                      [value]="user.email"
                      [disabled]="true"
                      id="email" name="email" placeholder="Email address">
                  </div>

                  <!-- phone -->
                  <div class="col-6 form-group" [class.error]="(submitted || phone.dirty) && phone.errors">
                    <label class="text-bold-600" for="phone">Phone</label>
                    <input type="phone" class="form-control" 
                      #phone="ngModel"
                      [(ngModel)]="userVm.phone"
                      id="phone" name="phone" placeholder="Phone">
                    <div *ngIf="submitted || phone.dirty" class="help-block" >
                      <ul role="alert">
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- status -->
                <div class="form-group" [class.error]="(submitted || status.dirty) && status.errors">
                  <label class="text-bold-600" for="status">Status</label>
                  <select class="form-control"
                    #status="ngModel"
                    [(ngModel)]="userVm.status"
                    id="status" name="status"
                    required>
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                    <option value="unverified">Unverified</option>
                    <option value="locked">Locked</option>
                  </select>

                  <div *ngIf="submitted || status.dirty" class="help-block" >
                    <ul role="alert">
                      <li *ngIf="status.errors?.required" class="text-danger" role="alert">Status is required.</li>
                    </ul>
                  </div>
                </div>

                <div class="form-group" [class.error]="(submitted || usergroups.dirty) && usergroups.errors">
                  <label class="text-bold-600" for="usergroups">User Groups</label>
                  <ng-select 
                    #usergroups="ngModel"
                    [(ngModel)]="userVm.usergroups" 
                    [items]="userGroups$ | async"
                    [multiple]="true"
                    [trackByFn]="trackByFn"
                    [loading]="userGroupsReqLoading"
                    [typeahead]="userGroupInput$"
                    bindLabel="name" bindValue="id"
                    id="usergroups" name="usergroups"
                    [disabled]="isLoading || !('update' | ablePure: 'usergroups' | async)"></ng-select>

                  <div *ngIf="submitted || usergroups.dirty" class="help-block" >
                    <ul role="alert">
                    </ul>
                  </div>
                </div>

                <div class="form-actions d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary pull-right" [disabled]="isLoading">
                    <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span> Edit
                  </button>
                </div>
              </fieldset>
            </form>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <span class="spinner-border spinner-border-sm"></span> Loading...
</ng-template>