<div class="content-wrapper">
  <div class="content-header row">
    <div class="content-header-left col-12 mb-2 mt-1">
      <shared-breadcrumb></shared-breadcrumb>
    </div>
  </div>
  <div class="content-body">
    <widget-general></widget-general>
    <div class="row">
      <div class="col-md-4 col-12">
        <widget-top-merchant-visits></widget-top-merchant-visits>
      </div>
      <div class="col-md-8 col-12">
        <widget-new-users></widget-new-users>
      </div>
    </div>

  </div>
</div>