<form autocomplete="off" #form="ngForm" (submit)="onSubmit()">
  <div class="modal-header">
    <h3 class="modal-title">Credit Refund</h3>
    <button type="button" class="close rounded-pill" aria-label="close"
      (click)="close()"><i class="bx bx-x"></i></button>
  </div>

  <div class="modal-body">
    <fieldset [disabled]="isLoading">
      <div class="row">
        <!-- credit -->
        <div class="col-6 form-group">
          <label class="text-bold-600">Credit</label>
          <input type="text" class="form-control"
            [value]="transaction.credit"
            id="credit" name="credit" disabled />
        </div>

        <!-- remarks -->
        <div class="col-12 form-group">
          <label class="text-bold-600">Remark</label>
          <textarea class="form-control" rows="3"
            #remark="ngModel"
            [(ngModel)]="transaction.remark"
            id="remark" name="remark" disabled></textarea>
        </div>

        <!-- remarks -->
        <div class="col-12 form-group">
          <label class="text-bold-600">Refund Remark</label>
          <textarea class="form-control" rows="3"
            #remark="ngModel"
            [(ngModel)]="transactionVm.remark"
            id="refundRemark" name="refundRemark"></textarea>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-warning"
      [disabled]="isLoading">
      <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span>
      Refund
    </button>
  </div>
</form>