<form autocomplete="off" #form="ngForm" (submit)="onSubmit()">
  <div class="modal-header">
    <h3 class="modal-title">Credit Top Up</h3>
    <button type="button" class="close rounded-pill" aria-label="close"
      (click)="close()"><i class="bx bx-x"></i></button>
  </div>

  <div class="modal-body">
    <fieldset [disabled]="isLoading">
      <div class="row">
        <!-- credit -->
        <div class="col-6 form-group" [class.error]="(submitted || credit.dirty) && credit.errors">
          <label class="text-bold-600">Credit</label>
          <input type="number" class="form-control"
            #credit="ngModel"
            [(ngModel)]="transactionVm.credit"
            (ngModelChange)="onAmountChange($event)"
            id="credit" name="credit" required />

          <div *ngIf="submitted || credit.dirty" class="help-block">
            <ul role="alert">
              <li *ngIf="credit.errors?.required" class="text-danger" role="alert">Credit is required.</li>
            </ul>
          </div>
        </div>

        <!-- remarks -->
        <div class="col-12 form-group">
          <label class="text-bold-600">Remark</label>
          <textarea class="form-control" rows="3"
            #remark="ngModel"
            [(ngModel)]="transactionVm.remark"
            id="remark" name="remark"></textarea>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary"
      [disabled]="isLoading">
      <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span>
      Top Up
    </button>
  </div>
</form>