<!-- BEGIN: Content-->
<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <!-- reset password start -->
      <section class="row flexbox-container">
        <div class="col-xl-7 col-10">
          <div class="card bg-authentication mb-0">
            <div class="row m-0">
              <!-- left section -->
              <div class="col-md-6 col-12 px-0">
                <div class="card disable-rounded-right d-flex justify-content-center mb-0 p-2 h-100">
                  <div class="card-header pb-1">
                    <div class="card-title">
                      <h4 class="text-center mb-2">Reset your Password</h4>
                    </div>
                  </div>
                  <div class="card-content">
                    <div class="card-body">
                      <shared-alert></shared-alert>
                      <form class="mb-2" autocomplete="off"
                        #form="ngForm" (submit)="onSubmit()"
                        [matchValue]="['password', 'confirmPassword']">

                        <fieldset [disabled]="disabled">
                          <!-- password -->
                          <div class="form-group" [class.error]="(submitted || password.dirty) && password.errors">
                            <label class="text-bold-600" for="password">New Password</label>
                            <input type="password" class="form-control" 
                              #password="ngModel"
                              [(ngModel)]="resetPasswordVm.password"
                              name="password" id="password" placeholder="Enter a new password"
                              required minlength="6">

                            <div *ngIf="submitted || password.dirty" class="help-block">
                              <ul role="alert">
                                <li *ngIf="password.errors?.required" class="text-danger" role="alert">Password is required.</li>
                                <li *ngIf="password.errors?.minlength " class="text-danger" role="alert">Password must be at least 6 characters.</li>
                              </ul>
                            </div>
                          </div>

                          <!-- confirmPassword -->
                          <div class="form-group mb-2" [class.error]="(submitted || confirmPassword.dirty) && confirmPassword.errors">
                            <label class="text-bold-600" for="confirmPassword">Confirm Password</label>
                            <input type="password" class="form-control"
                              #confirmPassword="ngModel"
                              [(ngModel)]="resetPasswordVm.password_confirmation"
                              id="confirmPassword" name="confirmPassword" placeholder="Confirm Password">

                            <div *ngIf="submitted || confirmPassword.dirty" class="help-block">
                              <ul role="alert">
                                <li *ngIf="confirmPassword.errors?.matchValue" class="text-danger" role="alert">Confirm password does not match.</li>
                              </ul>
                            </div>
                          </div>

                          <button type="submit" class="btn btn-primary glow position-relative w-100"
                            [disabled]="isLoading || form.disabled">
                            <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span> Reset my password<i
                              id="icon-arrow" class="bx bx-right-arrow-alt"></i>
                          </button>

                          <div class="text-center mt-2">
                            <a class="card-link" [routerLink]="['/login']"><small>Back to Login</small></a>
                          </div>
                        </fieldset>
                       
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!-- right section image -->
              <div class="col-md-6 d-md-block d-none text-center align-self-center p-3">
                <img class="img-fluid" src="assets/images/pages/reset-password.png" alt="branding logo">
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- reset password ends -->

    </div>
  </div>
</div>
<!-- END: Content-->