<!-- BEGIN: Content-->
<div class="content-wrapper">
  <div class="content-header row">
    <div class="content-header-left col-12 mb-2 mt-1">
      <shared-breadcrumb></shared-breadcrumb>
    </div>
  </div>

  <div class="content-body">
    <div class="row">
      <!-- banners -->
      <div class="col-12">
        <h5>Banners</h5>
        <div class="text-right">
          <button class="btn btn-primary">Add Banner</button>
        </div>
        
        <div cdkDropList cdkDropListOrientation="horizontal"
          class="horizontal-scrollable">
          <div cdkDrag
            class="card banner-card">
            <div class="card-content">
              <img class="card-img-top img-fluid" src="/assets/images/banner/banner-1.jpg" />
              <div class="card-body">
                <small>banner-1.jpg</small>
              </div>
            </div>
          </div>

          <div cdkDrag
            class="card banner-card">
            <div class="card-content">
              <img class="card-img-top img-fluid" src="/assets/images/banner/banner-1.jpg" />
              <div class="card-body">
                <h4 class="card-title mb-0">banner-1.jpg</h4>
              </div>
            </div>
          </div>

          <div cdkDrag
            class="card banner-card">
            <div class="card-content">
              <img class="card-img-top img-fluid" src="/assets/images/banner/banner-1.jpg" />
              <div class="card-body">
                <h4 class="card-title mb-0">banner-1.jpg</h4>
              </div>
            </div>
          </div>

          <div cdkDrag
            class="card banner-card">
            <div class="card-content">
              <img class="card-img-top img-fluid" src="/assets/images/banner/banner-1.jpg" />
              <div class="card-body">
                <h4 class="card-title mb-0">banner-1.jpg</h4>
              </div>
            </div>
          </div>

          <div cdkDrag
            class="card banner-card">
            <div class="card-content">
              <img class="card-img-top img-fluid" src="/assets/images/banner/banner-1.jpg" />
              <div class="card-body">
                <h4 class="card-title mb-0">banner-1.jpg</h4>
              </div>
            </div>
          </div>

        </div>
        
      </div>
    </div>
  </div>
</div>
