<div class="content-wrapper">
  <div class="content-header row">
    <div class="content-header-left col-12 mb-2 mt-1">
      <shared-breadcrumb></shared-breadcrumb>
    </div>
  </div>

  <div class="content-body">
    <shared-authorized-content 
      [permissions]="['users.view', 'users.update']" 
      [condition]="'or'">
      <div class="card">
        <!-- <div class="card-header">
          <a *ngIf="'create' | ablePure: 'users' | async"
            class="btn btn-primary float-right" [routerLink]="['/admin/users/create']">Create User</a>
        </div> -->
        <div class="card-content">
          <div class="card-body">
            <ag-grid-angular #agGrid style="width: 100%;" domLayout='autoHeight' class="ag-theme-balham"
              (gridReady)="onGridReady($event)" 
              [gridOptions]="gridOptions" 
              [columnDefs]="columnDefs"
              [defaultColDef]="defaultColDef">
            </ag-grid-angular>
          </div>
        </div>
      </div>
    </shared-authorized-content>
  </div>
</div>

<ng-template #actionsCell let-row>
  <ng-container *ngIf="row">
    <a *ngIf="row.id === authUser.id" 
      class="btn btn-xs btn-icon btn-primary btn-action-icon" 
      title="Profile"
      (click)="navigateTo('/admin/profile')">
      <i class="bx bxs-user"></i>
    </a>
  
    <a *ngIf="row.id !== authUser.id" 
      class="btn btn-xs btn-icon btn-primary btn-action-icon" 
      title="Edit"
      (click)="navigateTo('/admin/users', row.id)">
      <i class="bx bxs-edit"></i>
    </a>
  </ng-container>
</ng-template>

<ng-template #statusCell let-row>
  <ng-container *ngIf="row">
    <span [ngClass]="{
        'badge-light-success': row.status === 'active',
        'badge-light-warning': row.status === 'inactive' || row.status === 'unverified',
        'badge-light-danger': row.status === 'locked'
      }"
      class="badge badge-xs badge-light-success">{{ row.status | titlecase }}</span>
  </ng-container>
</ng-template>
<!-- END: Content-->