.selected > .badge {
  padding: .3rem .6rem;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  display: inline-flex;
  align-items: center;
}

.selected > .badge > i {
  margin-left: .3rem;
  cursor: pointer;
}


