<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true"
  [ngClass]="isHoverOver ? 'expanded' : ''"
  (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">

  <div class="navbar-header"
    [ngClass]="isHoverOver ? 'expanded' : ''">
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item mr-auto">
        <a class="navbar-brand" [routerLink]="['/admin/dashboard']">
          <div class="km-logo"></div>
          <h2 class="brand-text mb-0">{{ appLongName }}</h2>
        </a>
      </li>
      <li class="nav-item nav-toggle">
        <a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse" (click)="toggleMenu()">
          <i class="bx bx-x d-block d-xl-none font-medium-4 primary"></i>
          <i class="toggle-icon bx font-medium-4 d-none d-xl-block primary"
            [ngClass]="menuIsOpened ? 'bx-disc' : 'bx-circle'"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="shadow-bottom"></div>

  <div class="main-menu-content ps ps--active-y ps--scrolling-y">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation"
      data-icon-style="lines">
      <!-- dashboard -->
      <li class="nav-item">
        <a [routerLink]="['/admin/dashboard']">
          <i class="bx bx-dashboard"></i>
          <span class="menu-title" data-i18n="Dashboard">Dashboard</span>
        </a>
      </li>

      <!-- users -->
      <shared-authorized-content 
        [permissions]="['users.view', 'users.viewAny']" 
        [condition]="'or'" 
        [type]="'hide'">
        <li class="nav-item" routerLinkActive="active">
          <a href="#" [routerLink]="['/admin/users']">
            <i class="bx bx-user-circle"></i>
            <span class="menu-title">Users</span>
          </a>
        </li>
      </shared-authorized-content>

      <!-- merchant -->
      <shared-authorized-content 
        [permissions]="['merchants.view', 'merchants.viewAny']" 
        [condition]="'or'" 
        [type]="'hide'">
        <li class="nav-item" routerLinkActive="active">
          <a href="#" [routerLink]="['/admin/merchants']">
            <i class="bx bx-store"></i>
            <span class="menu-title">Merchants</span>
          </a>
        </li>
      </shared-authorized-content>

      <!-- usergroups -->
      <shared-authorized-content 
        [permissions]="['usergroups.view', 'usergroups.viewAny']" 
        [condition]="'or'" 
        [type]="'hide'">
        <li class="nav-item" routerLinkActive="active">
          <a href="#" [routerLink]="['/admin/usergroups']">
            <i class="bx bx-group"></i>
            <span class="menu-title">User Groups</span>
          </a>
        </li>
      </shared-authorized-content>

      <!-- systemsettings -->
      <shared-authorized-content 
        [permissions]="['systemsettings.viewAny']"
        [type]="'hide'">
        <li class="nav-item" routerLinkActive="active">
          <a href="#" [routerLink]="['/admin/systemsettings']">
            <i class="bx bx-cog"></i>
            <span class="menu-title">System Settings</span>
          </a>
        </li>
      </shared-authorized-content> 

      <!-- announcements -->
      <shared-authorized-content 
        [permissions]="['announcements.viewAny']"
        [type]="'hide'">
        <li class="nav-item" routerLinkActive="active">
          <a href="#" [routerLink]="['/admin/announcements']">
            <i class="bx bx-broadcast"></i>
            <span class="menu-title">Announcements</span> 
            <span *ngIf="pendingCount > 0"
              class="badge badge-pill badge-round badge-light-danger float-right mr-50 ml-auto">
              {{ pendingCount }}
            </span>
          </a>
        </li>
      </shared-authorized-content> 

      <!-- vouchers -->
      <shared-authorized-content 
        [permissions]="['vouchers.viewAny']"
        [type]="'hide'">
        <li class="nav-item" routerLinkActive="active">
          <a href="#" [routerLink]="['/admin/vouchers']">
            <i class="bx bxs-discount"></i>
            <span class="menu-title">Vouchers</span>
          </a>
        </li>
      </shared-authorized-content>

      <!-- landing management -->
      <shared-authorized-content 
        [permissions]="['landing.viewAny', 'banners.viewAny', 'events.viewAny', 'promotions.viewAny']" 
        [condition]="'or'" 
        [type]="'hide'">
        <li class="nav-item has-sub" [class.open]="isLanding">
          <a href="#" (click)="onLandingClicked($event)">
            <i class="bx bx-home"></i>
            <span class="menu-title">Landing</span>
          </a>
          <ul class="menu-content">
            <!-- <shared-authorized-content 
              [permissions]="['userlanding.viewAny']"
              [type]="'hide'"> -->
              <!-- landing -->
              <li routerLinkActive="active">
                <a href="#" [routerLink]="['/admin/landing-user']">
                  <i class="bx bx-grid-alt"></i>
                  <span class="menu-title">User Landing</span>
                </a>
              </li>
            <!-- </shared-authorized-content> -->

            <!-- <shared-authorized-content 
              [permissions]="['userlanding.viewAny']"
              [type]="'hide'"> -->
              <!-- landing -->
              <li routerLinkActive="active">
                <a href="#" [routerLink]="['/admin/landing-merchant']">
                  <i class="bx bx-grid-alt"></i>
                  <span class="menu-title">Merchant Landing</span>
                </a>
              </li>
            <!-- </shared-authorized-content> -->

            <!-- <shared-authorized-content 
              [permissions]="['banners.viewAny']"
              [type]="'hide'"> -->
              <li routerLinkActive="active">
                <a href="#" [routerLink]="['/admin/banners']">
                  <i class="bx bx-image"></i>
                  <span class="menu-title">Banners</span>
                </a>
              </li>
            <!-- </shared-authorized-content> -->

            <!-- <shared-authorized-content 
              [permissions]="['events.viewAny']"
              [type]="'hide'"> -->
              <li routerLinkActive="active">
                <a href="#" [routerLink]="['/admin/events']">
                  <i class="bx bx-calendar-event"></i>
                  <span class="menu-title">Events</span>
                </a>
              </li>
            <!-- </shared-authorized-content> -->

            <!-- <shared-authorized-content 
              [permissions]="['promotions.viewAny']"
              [type]="'hide'"> -->
              <li routerLinkActive="active">
                <a href="#" [routerLink]="['/admin/promotions']">
                  <i class="bx bxs-discount"></i>
                  <span class="menu-title">Promotions</span>
                </a>
              </li>
            <!-- </shared-authorized-content> -->
          </ul>
        </li>
      </shared-authorized-content> 

      <!-- feedbacks -->
      <shared-authorized-content 
        [permissions]="['feedbacks.viewAny']"
        [type]="'hide'">
        <li class="nav-item" routerLinkActive="active">
          <a href="#" [routerLink]="['/admin/feedbacks']">
            <i class="bx bxs-comment-detail"></i>
            <span class="menu-title">Feedbacks</span>
          </a>
        </li>
      </shared-authorized-content>

      <!-- apilogs -->
      <!-- <shared-authorized-content 
        [permissions]="['apilogs.viewAny']"
        [type]="'hide'"> -->
        <li class="nav-item" routerLinkActive="active">
          <a href="#" [routerLink]="['/admin/apilogs']">
            <i class="bx bx bx-history"></i>
            <span class="menu-title">Api Logs</span>
          </a>
        </li>
      <!-- </shared-authorized-content> -->
    </ul>
  </div>
</div>
<!-- END: Main Menu-->