<form autocomplete="off" #form="ngForm">
  <fieldset [disabled]="isLoading || !('update' | ablePure: 'usergroups' | async)">
    <div class="row">
      <!-- name -->
      <div class="col-md-12 form-group mb-50" [class.error]="(submitted || userIds.dirty) && userIds.errors">
        <label class="text-bold-600" for="userIds">Users</label>
        
        <ng-select 
          #userIds="ngModel"
          [(ngModel)]="userGroupVm.userIds" 
          [items]="users$ | async"
          [multiple]="true"
          [trackByFn]="trackByFn"
          [loading]="usersReqLoading"
          [typeahead]="usersInput$"
          bindLabel="email" bindValue="id"
          id="userIds" name="userIds"
          [disabled]="isLoading || !('update' | ablePure: 'usergroups' | async)">

          <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
            <div class="ng-value" *ngFor="let item of items | slice:0:4">
              <span class="ng-value-label">{{item.email}}</span>
              <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
            </div>
            <div class="ng-value" *ngIf="items.length > 4">
              <span class="ng-value-label">{{items.length - 4}} more...</span>
            </div>
          </ng-template>
        
        </ng-select>

        <div *ngIf="submitted || userIds.dirty" class="help-block">
          <ul role="alert">
          </ul>
        </div>
      </div>
    </div>
  </fieldset>
</form>