<div class="card">
  <div class="card-body">
    <ag-grid-angular
      #agGrid style="width: 100%;" domLayout='autoHeight' class="ag-theme-balham"
      (gridReady)="onGridReady($event)" 
      [gridOptions]="gridOptions" 
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef">
    </ag-grid-angular>
  </div>
</div>

<ng-template #merchantsCell let-row>
  <ng-container *ngIf="row">
    <ng-container *ngIf="row.merchants.length > 1">
      Kluang Mall ({{ row.merchants.length }} merchants)
    </ng-container>

    <ng-container *ngIf="row.merchants.length === 1">
      {{ row.merchants[0].name }}
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #statusCell let-row>
  <ng-container *ngIf="row">
    <span class="badge badge-xs" [ngClass]="{
        'badge-light-danger': row.status === 'expired' || row.status === 'used',
        'badge-light-success': row.status === 'active'
      }">{{ row.status | titlecase }}</span>
  </ng-container>
</ng-template>